/* Reset + base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;

  display: flex;
  justify-content: center;
}

/* Main app container */
.container {
  margin-top: 50px;
  width: 500px;
  padding: 500px;
  background: #1e293b;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.section {
  margin-top: 16px;
}

/* Headings */
h1 {
  text-align: center;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  background: #3b82f6;
  color: white;
  font-weight: bold;
  font-size: 14px;

  transition: transform 0.1s, background 0.2s;
}

button:hover {
  background: #2563eb;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

/* Input field */
input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border-radius: 3px;
  border: none;
  outline: none;

  font-size: 14px;
  display: block;
  box-sizing:border-box;
}

input:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  margin: 8px 0;
  text-align: center;
}


/* Spacing */
p {
  margin: 8px 0;
}